//global styles
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	min-width: 320px;
}

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

//sass mixins
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow-y: scroll;
	position: relative;
	background: url('https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?cs=srgb&dl=action-plan-brainstorming-complex-212286.jpg&fm=jpg') no-repeat center/cover;

	.intro {
		min-height: 100%;
		width: 100%;
		padding: 0 15px;
		color: #fff;

		 h1, p {
		 	background: rgba(24, 23, 32, .4);
		 	padding: 5px;
		 }
	}

	.portfolio {
		position: relative;
		top: -58px;
		background: #181720;
		width: 95%;
		border-radius: 15px 15px 0px 0px;
		color: #fff;

		.navbar {
			color: #fff;
			display: flex;
			justify-content: space-between;

			.logo {
				color: #fff;
				padding: 5px 15px ;
			}

			.down-arrow {
				position: relative;
				width: 42px;
				height: 52px;

				i {
					position: absolute;
				}

				.arrow-1 {
					top: 10px;
				}

				.arrow-2 {
					top: 20px;
				}
			}

			.social-icons {
				padding: 5px 15px
			}
		}

		.content {
			padding: 0 15px;
		}
	}
}
