//global styles
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	min-width: 320px;
}

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
	position: relative;
}

//animation
@keyframes {
	from {
		height: 25px;
	}

	to {

	}
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes pullChain {
	0% {
		height: 80%;
	}

	50% {
		height: 100%;
	}

	100% {
		height: 80%
	}
}

@keyframes whiteOut {
	from {
		transform: scale(1);
	}
	 1% {
	 	background: #fff;
	 }

	to {
		transform: scale(10);
		background: #fff;	
	}
}

//sass mixins
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
//animations & transitions
.animate-whiteout {
	animation: whiteOut 1s ease-in-out forwards;
}

.transition-lightbulb {
	transform: scale(.5);
}

.whiteout {
	width: 100px;
	height: 100px;
	background: transparent;
	position: absolute;
	border-radius: 50%;
	top: 0;
	z-index: 1;
}

//portfolio 
.portfolio {
	display: flex;
	z-index: 10;
	background: #fff;
	
	.spacer {
		height: 273px;
	}

	.lightbulb-container {
	@include flex-center;
	z-index: 3;

		.lightbulb {
			display: flex;
			position: relative;
			justify-content: center;
			align-items: center;
			z-index: 2;
			transition: all 3s;
			top: 0;
			left: 0;

				img {
					height: 150px;
					width: 150px;
					border-radius: 50%;			
				}

				.chain {
					border-right: 7px dotted #fff;
					margin: 0 auto;
					height: 80%;
					position: absolute;
					top: 117px;
					left: 100px;
					animation: pullChain .7s .7s ease-in-out;
				}
		}			
	}
}

//cover page
.intro {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: #000;
	color: #fff;
	position: absolute;
	padding: 0 15px;
	overflow: hidden;
	text-align: center;
	top: 0;

	h1 {
		margin: .5em 0 0 0;
		text-align: center;
		font-weight: 900;
		text-transform: uppercase;
		font-size: 2.2em;
		animation: slideUp .7s ease-in-out;
	}

	.slogan {
		letter-spacing: 1px;
		position: relative;
		margin-top: 2.5rem;
		
		.ideas {
			font: 5em 'Permanent Marker';
			letter-spacing: 3px;
			margin: 0 0 .5em 0;			
		}


		.reality {
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 2.5em;
		}
	}
	
	.lightbulb-container {
		position: relative;
		@include flex-center;
		display: none;

		.lightbulb {
			display: flex;
			position: relative;
			justify-content: center;
			align-items: center;
			z-index: 2;
			transition: all 3s;
			top: 0;
			left: 0;

				img {
					height: 150px;
					width: 150px;
					border-radius: 50%;			
				}

				.chain {
					border-right: 7px dotted #fff;
					margin: 0 auto;
					height: 80%;
					position: absolute;
					top: 117px;
					left: 100px;
					animation: pullChain .7s .7s ease-in-out;
				}
			}			
	}
}