*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  min-width: 320px; }

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  background: url("https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?cs=srgb&dl=action-plan-brainstorming-complex-212286.jpg&fm=jpg") no-repeat center/cover; }
  .container .intro {
    min-height: 100%;
    width: 100%;
    padding: 0 15px;
    color: #fff; }
    .container .intro h1, .container .intro p {
      background: rgba(24, 23, 32, 0.4);
      padding: 5px; }
  .container .portfolio {
    position: relative;
    top: -58px;
    background: #181720;
    width: 95%;
    border-radius: 15px 15px 0px 0px;
    color: #fff; }
    .container .portfolio .navbar {
      color: #fff;
      display: flex;
      justify-content: space-between; }
      .container .portfolio .navbar .logo {
        color: #fff;
        padding: 5px 15px; }
      .container .portfolio .navbar .down-arrow {
        position: relative;
        width: 42px;
        height: 52px; }
        .container .portfolio .navbar .down-arrow i {
          position: absolute; }
        .container .portfolio .navbar .down-arrow .arrow-1 {
          top: 10px; }
        .container .portfolio .navbar .down-arrow .arrow-2 {
          top: 20px; }
      .container .portfolio .navbar .social-icons {
        padding: 5px 15px; }
    .container .portfolio .content {
      padding: 0 15px; }
